
.thank-you-section{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 200px;
}

.thank-you-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 381px;
}
.thank-you__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
}

.thank-you__content{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.thank-you__title{
    color: var(--color-purple-950);
    font-size: var(--text-preset-1);
    line-height: var(--leading-preset-1);
    letter-spacing: var(--tracking-preset-1);
    font-weight: var(--font-preset-1);
    text-transform: uppercase;
}

.thank-you__description{
    color: var(--color-gray-400);
    font-size: var(--text-preset-3);
    line-height: var(--leading-preset-3);
    font-weight: var(--font-preset-3);
}

.thank-you__submit{
    margin-top: 48px;
    background-color: var(--color-purple-950);
    padding: 16px;
    color: white;
    font-size: var(--text-preset-3);
    line-height: var(--leading-preset-3);
    font-weight: var(--font-preset-3);
    border-radius: 8px;
    width: 100%;
}