.preview-section{
    position: relative;
    width: 35%;
    background-image: url("../../../images/bg-main-desktop.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cards-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}

.card{
    position: absolute;

}

.card img{
    width: 100%;
    display: block;
}

.card-front{
    top: 189px;
    left: 164px;
    width: 447px;
    z-index: 20;
}

.card-front__body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    inset: 0;
    padding: 28px 32px;
    width: 100%;
}

.card-front__image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84px;
}

.card-front__content{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.card-front__code{
    font-size: var(--text-preset-1);
    line-height: var(--leading-preset-1);
    letter-spacing: var(--tracking-preset-1);
    font-weight: var(--font-preset-1);
    color: white;
}

.card-front__description{
    display: flex;
    justify-content: space-between;
}

.card-name{
    font-size: var(--text-preset-4);
    line-height: var(--leading-preset-4);
    letter-spacing: var(--tracking-preset-4);
    color: white;
    text-transform: uppercase;
}

.card-point{
    font-size: var(--text-preset-4);
    line-height: var(--leading-preset-4);
    letter-spacing: var(--tracking-preset-4);
    color: white;
}

.card-back{
    top: 470px;
    left: 258px;
    width: 447px;
    z-index: 10;
}

.card-back__code{
    position: absolute;
    top: 111px;
    right: 57px;
    font-size: var(--text-preset-4);
    line-height: var(--leading-preset-4);
    letter-spacing: var(--tracking-preset-4);
    color: white;
}

.form-section{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 200px;
}

.card-form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 383px;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-row{
    display: flex;
    gap: 24px;
}

.exp-group{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cvc-group{
    flex: 1.2;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.exp-group__input{
    display: flex;
    gap: 8px;
}

.exp-group__input input, .cvc-group input{
    width: 100%;
}

label{
    font-size: var(--text-preset-5);
    line-height: var(--leading-preset-5);
    letter-spacing: var(--tracking-preset-5);
    color: var(--color-gray-950);
    font-weight: var(--font-preset-5);
    text-transform: uppercase;
}

legend{
    font-size: var(--text-preset-5);
    line-height: var(--leading-preset-5);
    letter-spacing: var(--tracking-preset-5);
    color: var(--color-gray-950);
    font-weight: var(--font-preset-5);
    text-transform: uppercase;
    margin-bottom: 8px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

input{
    padding: 8px 16px;
    border: 1px solid var(--color-gray-200);
    border-radius: 8px;
    outline: none;
}

input:focus{
    border: 1px solid transparent;
    background: linear-gradient(white, white) padding-box,
var(--color-gradient-2) border-box;
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.card-form__confirm{
    background-color: var(--color-purple-950);
    padding: 16px;
    color: white;
    font-size: var(--text-preset-3);
    line-height: var(--leading-preset-3);
    font-weight: var(--font-preset-3);
    margin-top: 16px;
    border-radius: 8px;
}