.preview-section{
    position: relative;
    width: 35%;
    background-image: url("../../../images/bg-main-desktop.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cards-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}

.card{
    position: absolute;
    max-width: 447px;
    width: 100%;
}

.card img{
    width: 100%;
    display: block;
}

.card-front{
    top: 189px;
    left: 164px;
    z-index: 20;
}

.card-front__body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    inset: 0;
    padding: 28px 32px;
    width: 100%;
}

.card-front__image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84px;
}

.card-front__content{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.card-front__code{
    font-size: var(--text-preset-1);
    line-height: var(--leading-preset-1);
    letter-spacing: var(--tracking-preset-1);
    font-weight: var(--font-preset-1);
    color: white;
}

.card-front__description{
    display: flex;
    justify-content: space-between;
}

.card-front__name{
    font-size: var(--text-preset-4);
    line-height: var(--leading-preset-4);
    letter-spacing: var(--tracking-preset-4);
    color: white;
    text-transform: uppercase;
}

.card-front__point{
    font-size: var(--text-preset-4);
    line-height: var(--leading-preset-4);
    letter-spacing: var(--tracking-preset-4);
    color: white;
}

.card-back{
    top: 470px;
    left: 258px;
    z-index: 10;
}

.card-back__code{
    position: absolute;
    top: 111px;
    right: 57px;
    font-size: var(--text-preset-4);
    line-height: var(--leading-preset-4);
    letter-spacing: var(--tracking-preset-4);
    color: white;
}

.thank-you-section{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 200px;
}

.thank-you-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 381px;
}
.thank-you__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
}

.thank-you__content{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.thank-you__title{
    color: var(--color-purple-950);
    font-size: var(--text-preset-1);
    line-height: var(--leading-preset-1);
    letter-spacing: var(--tracking-preset-1);
    font-weight: var(--font-preset-1);
    text-transform: uppercase;
}

.thank-you__description{
    color: var(--color-gray-400);
    font-size: var(--text-preset-3);
    line-height: var(--leading-preset-3);
    font-weight: var(--font-preset-3);
}

.thank-you__submit{
    margin-top: 48px;
    background-color: var(--color-purple-950);
    padding: 16px;
    color: white;
    font-size: var(--text-preset-3);
    line-height: var(--leading-preset-3);
    font-weight: var(--font-preset-3);
    border-radius: 8px;
    width: 100%;
}